.page{
	height: 1150px;
	background-color: #f1e9d2;
	width: 920px;
	padding: 5px 6px 7px 20px;
	border: 5px;
	margin: 0 auto;
}

.foto{
	height: 300px;
	width: 400px;
	padding: 20px 20px 20px 90px;
	border: 5px;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/OUN-r_Flag_1941.svg/1200px-OUN-r_Flag_1941.svg.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.text{
	height: 700px;
	width: 900px;
	padding: 35px 6px 7px;
	border: 5px;
}