
   .block1 {
    padding: 20px;
    border: 1px solid black; 
    background: #ff0000; 
    margin-bottom: 20px; 
   }


   .block2 {
    padding: 20px;
    border: 1px solid black; 
    background: #00ff00; 
    margin-top: 10px; 
   }